ASMWebAPI.UnitTests/Service References/Server/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ASMWebAPI.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASMWebAPI.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerCount" type="xs:int" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerInfo" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerInfo" nillable="true" type="tns:ServerInfo" />
  <xs:complexType name="ArrayOfPlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerInfo" nillable="true" type="tns:PlayerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerInfo" nillable="true" type="tns:ArrayOfPlayerInfo" />
  <xs:complexType name="PlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInfo" nillable="true" type="tns:PlayerInfo" />
</xs:schema>