ASMWebAPI.UnitTests/Service References/Server/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ASMWebAPI.Models" />
      <xsd:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_CheckServerStatusA_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckServerStatusA" />
  </wsdl:message>
  <wsdl:message name="IServer_CheckServerStatusA_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckServerStatusAResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_CheckServerStatusB_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckServerStatusB" />
  </wsdl:message>
  <wsdl:message name="IServer_CheckServerStatusB_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckServerStatusBResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetServerInfoA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoA" />
  </wsdl:message>
  <wsdl:message name="IServer_GetServerInfoA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoAResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetServerInfoB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoB" />
  </wsdl:message>
  <wsdl:message name="IServer_GetServerInfoB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoBResponse" />
  </wsdl:message>
  <wsdl:portType name="IServer">
    <wsdl:operation name="CheckServerStatusA">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/CheckServerStatusA" message="tns:IServer_CheckServerStatusA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/CheckServerStatusAResponse" message="tns:IServer_CheckServerStatusA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckServerStatusB">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/CheckServerStatusB" message="tns:IServer_CheckServerStatusB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/CheckServerStatusBResponse" message="tns:IServer_CheckServerStatusB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfoA">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetServerInfoA" message="tns:IServer_GetServerInfoA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetServerInfoAResponse" message="tns:IServer_GetServerInfoA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfoB">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetServerInfoB" message="tns:IServer_GetServerInfoB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetServerInfoBResponse" message="tns:IServer_GetServerInfoB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServer" type="tns:IServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckServerStatusA">
      <soap:operation soapAction="http://tempuri.org/IServer/CheckServerStatusA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckServerStatusB">
      <soap:operation soapAction="http://tempuri.org/IServer/CheckServerStatusB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInfoA">
      <soap:operation soapAction="http://tempuri.org/IServer/GetServerInfoA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInfoB">
      <soap:operation soapAction="http://tempuri.org/IServer/GetServerInfoB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="BasicHttpBinding_IServer" binding="tns:BasicHttpBinding_IServer">
      <soap:address location="http://localhost:43443/Server.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>