ASMWebAPI.UnitTests/Service References/Server/Server4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://localhost:43443/Server.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ASMWebAPI.Models" />
  <xs:element name="CheckServerStatusA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="endpoint" nillable="true" type="q1:IPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckServerStatusAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckServerStatusAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckServerStatusB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckServerStatusBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckServerStatusBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfoA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="endpoint" nillable="true" type="q2:IPEndPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfoAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ASMWebAPI.Models" minOccurs="0" name="GetServerInfoAResult" nillable="true" type="q3:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfoB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInfoBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ASMWebAPI.Models" minOccurs="0" name="GetServerInfoBResult" nillable="true" type="q4:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>